<!DOCTYPE html>
<html>
  <head>
    <title>BookStore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="__PUBLIC__/css/all.css">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    var wait = 60;
    var send=true;
    function time(obj) {
      if (wait == 0) {
          obj.removeAttribute("disabled");
          obj.value = "获取验证码";
          wait = 60;
          send=true;
      } else {
          obj.setAttribute("disabled", true);
          obj.value = wait + "秒后重新获取验证码";
          wait--;
          setTimeout(function () {
              time(obj);
          },
          1000);
          if(send){
            sendcode();
          }
          send=false;
      }
    }
    function sendcode(){
      var url="{:U('Home/Login/findsecret')}";
      var phone=$('#phone').val();
      if(phone==""){
        alert("请输入手机号码！");
        return;
      }
      $.post(url,{phone:phone},
        function(data){
          if(data==-1){
            alert("该手机号码未注册过");
          }else{
            alert("发送验证码成功");
          }
      },
      "text");//这里返回的类型有：json,html,xml,text
    }
    function sub(){
      var url="{:U('home/Login/findcheck')}";
      var indexurl="{:U('home/Login/index')}";
      var phone=$('#phone').val();
      var code=$('#code').val();
      var password=$('#password').val();
      $.post(url,{phone:phone,code:code,password:password},
        function(data){
          if(data==-1){
            alert("该手机号码未注册过");
          }else if(data==-2){
            alert("验证码过期");
          }else{
            alert("重置密码成功，即将返回登录页");
            location.href=indexurl;
          }
      },
      "text");

    }
    </script>
  </head>
  <body align="center" style="padding:0px 10px;">
    <div class="container" style="padding:10px 0px 0px 0px;overflow-x: hidden; ">
      <div style="text-align:left;margin-bottom:20px">
             <a href="{:U('Home/Index/index')}" class="  glyphicon glyphicon-chevron-left" style="font-size:16px">登录页</a>
      </div>
      <img src="__PUBLIC__/images/bookstores.png"
                 alt="通用的占位符缩略图" width="220px" height="90px">
      <div class="row " style="font-size:18px;padding:50px 0px 0px 0px;">
        <div class="col-xs-4" >
          手机号码
        </div>
        <div class="col-xs-8" >
          <input type="text" class="form-control" id="phone" placeholder="请输入" size="16">
          </div>
        </div>
      <div class="row " style="font-size:18px;padding:20px 0px 0px 0px;">
        <div class="col-xs-4" >
          重置密码
        </div>
        <div class="col-xs-8" >
          <input type="password" class="form-control" id="password" placeholder="请输入" size="16">
          </div>
        </div>
        <div class="row " style="font-size:18px;padding:20px 0px 0px 0px;">
        
        <div class="col-xs-8" >
          <input type="text" class="form-control" id="code" placeholder="请输入" size="16">
          </div>
          <div class="col-xs-4" >
          <input style="padding:5px;color:white;background:#34352C;width:100%;height:100%;" value="获取验证码" readonly onclick="time(this)">
        </div>
        </div>
        <div style="padding:30px 0px 30px 20px ;" >
                          <!--跳转-->
           <a type="button" class="btn btn-default" style="padding:5px;color:white;background:#34352C;width:90%;height:100%;" onclick="sub();">确定</a>
        </div>

    </div>
 
  
    
  </body>
</html>