<!DOCTYPE html>
<html>
  <head>
    <title>BookStore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='http://192.168.155.1:8000/CLodopfuncs.js'></script>
    <script src='http://localhost:8000/CLodopfuncs.js?name=CLODOPA'></script>
    <script type="text/javascript">
  setTimeout(function(){
      LODOP.PRINT_INIT("打印任务名");//首先一个初始化语句
          LODOP.ADD_PRINT_TEXT(0,0,100,20,"文本内容一");//然后多个ADD语句及SET语句
      LODOP.PRINT();//最后一个打印(或预览、维护、设计)语句
          // LODOP.PREVIEW();
        },1000); 
        
      
    </script>
  </head>
  <body style="margin-bottom:80px;background-color:#EFF0DC"">
wdasssssa
  </body>
</html>